<footer class="uoc-footer">
    <div class="footer-logo">
        <img src="./assets/images/ball_logo.png" alt="TennisMeet">
    </div>
    <div class="footer-menu">
        <a href="./index.html"><h3>Portada</h3></a>
        <a href="./participantes.html"><h3>Participantes</h3></a>
        <a href="./info.html"><h3>Información</h3></a>
        <a href=""><h3>Contacto</h3></a>
    </div>
    <div class="footer-icons">
        <i class="fa-brands fa-google-plus-g"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fas fa-basketball"></i>
    </div>
</footer>